body {
  background-color: #222222;
}

div {
  background-color: #222222;
  border-radius: 20px;
  margin: auto;
}

canvas {
  border-radius: 20px;
  width: 1024px;
  height: 576px;
  position: absolute;
  top: 5px;
  left: 25px;
}
